*.pyc
__pycache__/
migrations
stacticcdn
.idea/
db.sqlite3
db.json
env/
.idea
media/
staticcdn/
.vscode
.output
venv/
.idea
staticcdn/
.read
data.json
data.psql
database.db
extract.json
schema.psql
*.csv
