{% load static %}

<!DOCTYPE html>
<html lang="en">
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'assets/images/icon/logo.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
                                <ul class="collapse">
                                    <li class="{{ dash_act }}"><a href="{% url 'app:dashboard-home' %}">Host Management</a></li>
                                    <li class="{{ price_act }}"><a href="{% url 'app:pricingstrategy' %}">Pricing Strategy</a></li>
                                    <li class="{{ customer_act }} "><a href="{% url 'app:customersatisfaction' %}">Customer Satisfaction</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Charts</span></a>
                                <ul class="collapse">
                                    <li class="{{ bar_chart }}"><a href="{% url 'app:barchart' %}">bar chart</a></li>
                                    <li class="{{ line_chart }}"><a href="{% url 'app:linechart' %}">line Chart</a></li>
                                    <li class="{{ pie_chart }}"><a href="{% url 'app:piechart' %}">pie chart</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                    <span>Tables</span></a>
                                <ul class="collapse">

                                    <li class="{{ datatable }}"><a href="{% url 'app:datatable' %}">datatable</a></li>
                                </ul>
                            </li>
                            <li class="{{ maps }}"><a href="{% url 'app:maps' %}"><i class="ti-map-alt"></i> <span>maps</span></a></li>

                            <li>`
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers-alt"></i> <span>Pages</span></a>
                                <ul class="collapse">
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="{% url 'app:aboutus' %}">About Us</a></li>
                                    <li><a href="screenlock.html">Lock Screen</a></li>
                                    <li><a href="reset-pass.html">reset password</a></li>
                                  </ul>
                            </li>


                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


{% block body %}
{% endblock %}

    <!-- jquery latest version -->



 <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- start chart js -->
    <script src="{% static '/assets/js/charts.min.js' %}"></script>
    <!-- start highcharts js -->
    <script src="{% static '/assets/js/highcharts.js' %}"></script>
    <!-- start zingchart js -->
    <script src="{% static '/assets/js/zingchart.min.js' %}"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{% static 'assets/js/line-chart.js' %}"></script>
    <!-- all bar chart activation -->
    <script src="{% static 'assets/js/bar-chart.js' %}"></script>
    <!-- all pie chart -->
    <script src="{% static 'assets/js/pie-chart.js' %}"></script>
    <!-- others plugins -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>

</body>


</html>
