{% extends 'base.html' %}
{% load static %}



{% block title %}<title>Dashboard</title>{% endblock %}
{% block body %}



        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>0</span>
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <span class="notify-title">You have no notifications <a href="#">view all</a></span>
                                    <div class="nofity-list">

                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>0</span></i>
                                <div class="dropdown-menu notify-box nt-enveloper-box">
                                    <span class="notify-title">You have no new notifications <a href="#">view all</a></span>
                                    <div class="nofity-list">

                                    </div>
                                </div>
                            </li>
                            <li class="settings-btn">
                                <i class="ti-settings"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="index.html">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="{% static 'assets/images/author/avatar.png' %}" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Dorukhan <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Message</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">

                <div class="row">
                    <div class="col-xl-9 col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="header-title mb-0">Overview</h4>
                                    <select class="custome-select border-0 pr-3">
                                        <option selected>Last 24 Hours</option>
                                        <option value="0">01 July 2018</option>
                                    </select>
                                </div>
{#                                <div id="verview-shart"></div>#}

                                <canvas id="verview-shart" width="800" height="450"></canvas>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 coin-distribution">
                        <div class="card h-full">
                            <div class="card-body">
                                <h4 class="header-title mb-0">Coin Distribution</h4>
                                <div id="coin_distribution"></div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- sales report area start -->
                <div class="sales-report-area mt-5 mb-5">
                    <div class="row">
                        <canvas id="outputCanvas" width="500" height="300"></canvas>
                    </div>
                </div>


                <div class="col-lg-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div id="barchart1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div id="barchart2"></div>
                        </div>
                    </div>
                </div>

            <!-- sales report area end -->
                <!-- overview area start -->

                <!-- overview area end -->
                <!-- market value area start -->
                <div class="row mt-5 mb-5">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <h4 class="header-title mb-0">Market Value And Trends</h4>
                                    <select class="custome-select border-0 pr-3">
                                        <option selected>Last 24 Hours</option>
                                        <option value="0">01 July 2018</option>
                                    </select>
                                </div>
                                <div class="market-status-table mt-4">
                                    <div class="table-responsive">
                                        <table class="dbkit-table">
                                            <tr class="heading-td">
                                                <td class="mv-icon">Logo</td>
                                                <td class="coin-name">Coin Name</td>
                                                <td class="buy">Buy</td>
                                                <td class="sell">Sells</td>
                                                <td class="trends">Trends</td>
                                                <td class="attachments">Attachments</td>
                                                <td class="stats-chart">Stats</td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon"><img src="{% static 'assets/images/icon/market-value/icon1.png' %}" alt="icon">
                                                </td>
                                                <td class="coin-name">Dashcoin</td>
                                                <td class="buy">30% <img src="{% static 'assets/images/icon/market-value/triangle-down.png' %}" alt="icon"></td>
                                                <td class="sell">20% <img src="{% static 'assets/images/icon/market-value/triangle-up.png' %}" alt="icon"></td>
                                                <td class="trends"><img src="{% static 'assets/images/icon/market-value/trends-up-icon.png' %}" alt="icon"></td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart"></canvas>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon">
                                                    <div class="mv-icon"><img src="{% static 'assets/images/icon/market-value/icon2.png' %}" alt="icon"></div>
                                                </td>
                                                <td class="coin-name">LiteCoin</td>
                                                <td class="buy">30% <img src="{% static 'assets/images/icon/market-value/triangle-down.png' %}" alt="icon"></td>
                                                <td class="sell">20% <img src="{% static 'assets/images/icon/market-value/triangle-up.png' %}" alt="icon"></td>
                                                <td class="trends"><img src="{% static 'assets/images/icon/market-value/trends-down-icon.png' %}" alt="icon"></td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart2"></canvas>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon">
                                                    <div class="mv-icon"><img src="{% static 'assets/images/icon/market-value/icon3.png' %}" alt="icon"></div>
                                                </td>
                                                <td class="coin-name">Euthorium</td>
                                                <td class="buy">30% <img src="{% static 'assets/images/icon/market-value/triangle-down.png' %}" alt="icon"></td>
                                                <td class="sell">20% <img src="{% static 'assets/images/icon/market-value/triangle-up.png' %}" alt="icon"></td>
                                                <td class="trends"><img src="{% static 'assets/images/icon/market-value/trends-up-icon.png' %}" alt="icon"></td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart3"></canvas>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon">
                                                    <div class="mv-icon"><img src="{% static 'assets/images/icon/market-value/icon4.png' %}" alt="icon"></div>
                                                </td>
                                                <td class="coin-name">Bitcoindash</td>
                                                <td class="buy">30% <img src="{% static 'assets/images/icon/market-value/triangle-down.png' %}" alt="icon"></td>
                                                <td class="sell">20% <img src="{% static 'assets/images/icon/market-value/triangle-up.png' %}" alt="icon"></td>
                                                <td class="trends"><img src="{% static 'assets/images/icon/market-value/trends-up-icon.png' %}" alt="icon"></td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart4"></canvas>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- market value area end -->
                <!-- row area start -->
                <div class="row">
                    <!-- Live Crypto Price area start -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Live Crypto Price</h4>
                                <div class="cripto-live mt-5">
                                    <ul>
                                        <li>
                                            <div class="icon b">b</div> Bitcoin<span><i class="fa fa-long-arrow-up"></i>$876909.00</span></li>
                                        <li>
                                            <div class="icon l">l</div> Litecoin<span><i class="fa fa-long-arrow-up"></i>$29780.00</span></li>
                                        <li>
                                            <div class="icon d">d</div> Dashcoin<span><i class="fa fa-long-arrow-up"></i>$13276.00</span></li>
                                        <li>
                                            <div class="icon b">b</div> Bitcoindash<span><i class="fa fa-long-arrow-down"></i>$5684.890</span></li>
                                        <li>
                                            <div class="icon e">e</div> Euthorium<span><i class="fa fa-long-arrow-down"></i>$3890.98</span></li>
                                        <li>
                                            <div class="icon t">b</div> Tcoin<span><i class="fa fa-long-arrow-up"></i>$750.789</span></li>
                                        <li>
                                            <div class="icon b">b</div> Bitcoin<span><i class="fa fa-long-arrow-up"></i>$325.037</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Live Crypto Price area end -->
                    <!-- trading history area start -->
                    <div class="col-lg-8 mt-sm-30 mt-xs-30">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <h4 class="header-title">Trading History</h4>
                                    <div class="trd-history-tabs">
                                        <ul class="nav" role="tablist">
                                            <li>
                                                <a class="active" data-toggle="tab" href="#buy_order" role="tab">Buy Order</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#sell_order" role="tab">Sell Order</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <select class="custome-select border-0 pr-3">
                                        <option selected>Last 24 Hours</option>
                                        <option value="0">01 July 2018</option>
                                    </select>
                                </div>
                                <div class="trad-history mt-4">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="buy_order" role="tabpanel">
                                            <div class="table-responsive">
                                                <table class="dbkit-table">
                                                    <tr class="heading-td">
                                                        <td>Trading ID</td>
                                                        <td>Time</td>
                                                        <td>Status</td>
                                                        <td>Amount</td>
                                                        <td>Last Trade</td>
                                                    </tr>
                                                    <tr>
                                                        <td>78211</td>
                                                        <td>4.00 AM</td>
                                                        <td>Pending</td>
                                                        <td>$758.90</td>
                                                        <td>$05245.090</td>
                                                    </tr>
                                                    <tr>
                                                        <td>782782</td>
                                                        <td>4.00 AM</td>
                                                        <td>Pending</td>
                                                        <td>$77878.90</td>
                                                        <td>$7778.090</td>
                                                    </tr>
                                                    <tr>
                                                        <td>89675978</td>
                                                        <td>4.00 AM</td>
                                                        <td>Pending</td>
                                                        <td>$0768.90</td>
                                                        <td>$0945.090</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sell_order" role="tabpanel">
                                            <div class="table-responsive">
                                                <table class="dbkit-table">
                                                    <tr class="heading-td">
                                                        <td>Trading ID</td>
                                                        <td>Time</td>
                                                        <td>Status</td>
                                                        <td>Amount</td>
                                                        <td>Last Trade</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8964978</td>
                                                        <td>4.00 AM</td>
                                                        <td>Pending</td>
                                                        <td>$445.90</td>
                                                        <td>$094545.090</td>
                                                    </tr>
                                                    <tr>
                                                        <td>89675978</td>
                                                        <td>4.00 AM</td>
                                                        <td>Pending</td>
                                                        <td>$78.90</td>
                                                        <td>$074852945.090</td>
                                                    </tr>
                                                    <tr>
                                                        <td>78527878</td>
                                                        <td>4.00 AM</td>
                                                        <td>Pending</td>
                                                        <td>$0768.90</td>
                                                        <td>$65465.090</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- trading history area end -->
                </div>
                <!-- row area end -->
                <div class="row mt-5">
                    <!-- latest news area start -->
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Latest News</h4>
                                <div class="letest-news mt-5">
                                    <div class="single-post mb-xs-40 mb-sm-40">
                                        <div class="lts-thumb">
                                            <img src="{% static 'assets/images/blog/post-thumb1.jpg' %}" alt="post thumb">
                                        </div>
                                        <div class="lts-content">
                                            <span>Admin Post</span>
                                            <h2><a href="blog.html">Sed ut perspiciatis unde omnis iste.</a></h2>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some...</p>
                                        </div>
                                    </div>
                                    <div class="single-post">
                                        <div class="lts-thumb">
                                            <img src="{% static 'assets/images/blog/post-thumb2.jpg' %}" alt="post thumb">
                                        </div>
                                        <div class="lts-content">
                                            <span>Admin Post</span>
                                            <h2><a href="blog.html">Sed ut perspiciatis unde omnis iste.</a></h2>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- latest news area end -->
                    <!-- exchange area start -->
                    <div class="col-xl-6 mt-md-30 mt-xs-30 mt-sm-30">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Exchange</h4>
                                <div class="exhcange-rate mt-5">
                                    <form action="#">
                                        <div class="input-form">
                                            <input type="text" value="0.76834">
                                            <span>BTC</span>
                                        </div>
                                        <div class="exchange-devider">To</div>
                                        <div class="input-form">
                                            <input type="text" value="5689.846">
                                            <span>USD</span>
                                        </div>
                                        <div class="exchange-btn">
                                            <button type="submit">Exchange Now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- exchange area end -->
                </div>
                <!-- row area start-->
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <div class="offset-area">
        <div class="offset-close"><i class="ti-close"></i></div>
        <ul class="nav offset-menu-tab">
            <li><a class="active" data-toggle="tab" href="#activity">Activity</a></li>
            <li><a data-toggle="tab" href="#settings">Settings</a></li>
        </ul>
        <div class="offset-content tab-content">
            <div id="activity" class="tab-pane fade in show active">
                <div class="recent-activity">

                </div>
            </div>
            <div id="settings" class="tab-pane fade">
                <div class="offset-settings">
                    <h4>General Settings</h4>
                    <div class="settings-list">
                        <div class="s-settings">
                            <div class="s-sw-title">
                                <h5>Notifications</h5>
                                <div class="s-swtich">
                                    <input type="checkbox" id="switch1" />
                                    <label for="switch1">Toggle</label>
                                </div>
                            </div>
                            <p>Keep it 'On' When you want to get all the notification.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- start chart js -->
    <script src="{% static 'assets/js/charts.min.js' %}"></script>
    <!-- start highcharts js -->
    <script src="{% static 'assets/js/highcharts.js' %}"></script>
    <!-- start zingchart js -->
    <script src="{% static 'assets/js/zingchart.min.js' %}"></script>
{#    <script>#}
{#    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";#}
{#    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];#}
{#    </script>#}
    <!-- all line chart activation -->
    <script src="{% static 'assets/js/line-chart.js' %}"></script>
    <!-- all pie chart -->
    <script src="{% static 'assets/js/pie-chart.js' %}"></script>
    <!-- others plugins -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>

    <script src="{% static 'cht.js' %}"></script>


{% autoescape off %}
<script type="text/javascript">

    new Chart(document.getElementById("verview-shart"), {
  type: 'line',
  data: {
    labels: [

        {#1500,1600,1700,1750,1800,1850,1900,1950,1999,2050#}
        {% for row in growthtrend %}
            {% if forloop.counter >= 11 and forloop.counter <= 21 %}
                {{ row.year }},
            {% endif %}
        {% endfor %}

    ],
    datasets: [{
        //Entire home/apt
        data: [
            {#86,114,106,106,107,111,133,221,783,2478#}
            0,
            {% for row in growthtrend %}
            {% if forloop.counter >= 1 and forloop.counter <= 10 %}
                {{ row.counter }},
            {% endif %}
        {% endfor %}
        ],
        label: "Entire home/apt",
        borderColor: "#3e95cd",
        fill: false
      }, {
        //Private Room
        data: [
            {#282,350,411,502,635,809,947,1402,3700,5267#}
            {% for row in growthtrend %}
            {% if forloop.counter >= 11 and forloop.counter <= 21 %}
                {{ row.counter }},
            {% endif %}
        {% endfor %}

        ],
        label: "Private room",
        borderColor: "#8e5ea2",
        fill: false
      }, {
        data: [

            {#168,170,178,190,203,276,408,547,675,734#}
            0,0,0,
            {% for row in growthtrend %}
            {% if forloop.counter >= 22 %}
                {{ row.counter }},
            {% endif %}
        {% endfor %}


        ],
        label: "Shared room",
        borderColor: "#3cba9f",
        fill: false
      }


    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});

    {#Scatter Plot#}

var ctx = document.getElementById("outputCanvas").getContext('2d');

  /*var description = document.getElementById("description");
  description.innerText = response.data.description;*/
  var myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
      label: 'Scatter Dataset',
      datasets: [{
          data: [

              {% for row in scatterboxplot %}
              {
                  x:{{ row.availability }}, y:{{ row.totalprice }}
              },
              {% endfor %}
              ,

          ],
          label: 'Scattered Box Plot',
          backgroundColor: 'rgba(255, 0, 0, 1)',
        },
        ]
    },
    options: {
      title: {
        display: true,
        text: "35 Fastest times up Alpe d'Huez"
      },
      legend: {
        display: true,
      },

      showLines: false,
      scales: {
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Price',
            fontSize: 16
          },
          ticks: {
            beginAtZero:true,
            fontSize: 14
          }
        }],
        xAxes: [{
          type: 'linear',
          position: 'bottom',
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Availability',
            fontSize: 16
          },
          gridLines: {
            display: true
          },
          ticks: {
            beginAtZero:false,
            fontSize: 14,
          }
        }]
      },
      tooltips: {
        displayColors: false,
        callbacks: {
          title: function(tooltipItems, data) {
            var index = tooltipItems[0].index;
            var datasetIndex = tooltipItems[0].datasetIndex;
            var dataset = data.datasets[datasetIndex];
            var datasetItem = dataset.data[index];

            var person = response.data[datasetItem.id];
            return person.Name + " - " + person.Nationality;
          },
          label: function(tooltipItems, data) {
            var output = "";

            var index = tooltipItems.index;
            var datasetIndex = tooltipItems.datasetIndex;
            var dataset = data.datasets[datasetIndex];
            var datasetItem = dataset.data[index];

            var person = response.data[datasetItem.id];

            output += "TIme: " + person.Time + "\n | \n";
            output += "Place: " + person.Place + "\n | \n";
            output += "Year: " + person.Year + "\n | \n";
            if (person.Doping === "") {
              output += "Doping: None";
            } else {
              output += "Doping: " + person.Doping;
            }
            return output;
          }
        }
      }
    }
  })
  .catch(function (error) {
  console.log(error);
});


    {# Bar chart #}


 /*--------------  bar chart in ascending start ------------*/
if ($('#barchart1').length) {
    var chart = AmCharts.makeChart("barchart1", {
        "type": "serial",
        "theme": "light",
        "marginRight": 70,
        "dataProvider": [
            {% for row in barchart_ascending %}
            {
            "country": "{{ row.neighbourhood }}",
            "visits": {{ row.total }},
            "color": "#8918FE"
        },
            {% endfor %}

        ],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left",
            "title": false
        }],
        "startDuration": 1,
        "graphs": [{
            "balloonText": "<b>[[category]]: [[value]]</b>",
            "fillColorsField": "color",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "country",
        "categoryAxis": {
            "gridPosition": "start",
            "labelRotation": 45
        },
        "export": {
            "enabled": false
        }

    }


    );
}
/*--------------  bar chart in ascending END ------------*/


 /*--------------  bar chart in descending start ------------*/
if ($('#barchart2').length) {
    var chart = AmCharts.makeChart("barchart2", {
        "type": "serial",
        "theme": "light",
        "marginRight": 70,
        "dataProvider": [
            {% for row in barchart_descending %}
            {
            "country": "{{ row.neighbourhood }}",
            "visits": {{ row.total }},
            "color": "#8918FE"
        },
            {% endfor %}

        ],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left",
            "title": false
        }],
        "startDuration": 1,
        "graphs": [{
            "balloonText": "<b>[[category]]: [[value]]</b>",
            "fillColorsField": "color",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "country",
        "categoryAxis": {
            "gridPosition": "start",
            "labelRotation": 45
        },
        "export": {
            "enabled": false
        }

    }


    );
}
/*--------------  bar chart in descending end ------------*/


</script>
{% endautoescape %}

{% endblock %}